
.App{
  display: grid;
  background-color: black;
  min-height: 100vh;
}

.Home{
  display: grid;
  
}

.about{
  color: white;
}

div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
  min-height: 400px;
  background-color: lightgray;
}

div.gallery:hover {
  border-style: outset;
  background-color: lightgray;

}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.marvel-logo{
  max-width: 300px;
  margin: 0 auto;
}

.login{
  max-width: 500px;
  margin: auto;
  color: white;
}

@media screen and (max-width: 600px) {
  .marvel-logo{
    max-width: 200px;
  }

  div.gallery {
    width: 150px;
  min-height: 300px;
    
  }
}

